# Env vars for agent to run
OPENAI_API_KEY=XXXX
OPENAI_MODEL=gpt-4.1-mini
SLNG_API_KEY=XXXX

# Langfuse is needed for the examples, comment it from yaml if you don't want it to be added
LANGFUSE_SECRET_KEY=XXXX
LANGFUSE_PUBLIC_KEY=XXXX
LANGFUSE_BASE_URL=XXXX

# Twillio Credentials
TWILIO_ACCOUNT_SID=XXXX
TWILIO_AUTH_TOKEN=XXXX
TWILIO_PHONE_NUMBER=+1XXXXXXX
