agent_name = "{{.Profile.PCC.AgentName}}"
image = "{{.Profile.Docker.Image}}:{{.Profile.Docker.Tag}}"
secret_set = "{{.Profile.PCC.SecretSet}}"
agent_profile = "{{.Profile.PCC.AgentProfile}}"

[scaling]
min_agents = {{.Profile.PCC.Scaling.MinAgents}}
