[[if eq .ExecutionKind "builtin"]][[if .Description]]description: [[quote .Description]]
[[end]]builtin:
  id: [[.Builtin]]
[[if .Instructions]]  instructions: [[quote .Instructions]]
[[end]][[else if eq .ExecutionKind "knowledge"]]description: [[quote .Description]]
knowledge:
  base: [[.KnowledgeBase]]
[[else if eq .ExecutionKind "slng"]][[if .Description]]description: [[quote .Description]]
[[end]]slng:[[if .SlngHash]]
  hash: [[.SlngHash]]
[[else]] {}
[[end]]
interruption: provider_default
effect: returns_data
[[else if eq .ExecutionKind "mcp"]]mcp:
  url_env: [[.URLEnv]]
[[if .MCPTransport]]  transport: [[.MCPTransport]]
[[end]][[if .Auth]]  auth:
    type: [[.Auth.Type]]
    token_env: [[.Auth.TokenEnv]]
[[if .Auth.Header]]    header: [[.Auth.Header]]
[[end]][[end]][[if .MCPTools]]  tools:
[[range .MCPTools]]    - [[.]]
[[end]][[end]][[else]]description: [[quote .Description]]
input:[[yamlBlock 2 .Input]]
[[if .Output]]output:[[yamlBlock 2 .Output]]
[[end]]
[[.ExecutionKind]]:[[if eq .ExecutionKind "client"]] {}
[[else if eq .ExecutionKind "provider_hosted"]] {}
[[else]]
[[if eq .ExecutionKind "local"]]  handler: [[if .Handler]][[.Handler]][[else]]tools/[[.Name]].py[[end]]
[[else if .URLEnv]]  url_env: [[.URLEnv]]
[[end]][[end]][[if .Auth]]  auth:
    type: [[.Auth.Type]]
    token_env: [[.Auth.TokenEnv]]
[[if .Auth.Header]]    header: [[.Auth.Header]]
[[end]][[end]]
interruption: provider_default
effect: returns_data
[[end]]
